<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Server Error - Medication Tracker</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="icon" href="/Star_of_life2.svg.png" type="image/x-icon">
</head>

<body>
    <div class="error-container">
        <div class="error-code">500</div>
        <h2>Internal Server Error</h2>
        <p>Our servers are taking a break. We'll be back soon!</p>
        <a href="/" class="btn-home">Return Home</a>
    </div>
</body>

</html>